[INICIO]/MatchPro-Workflow.json
{
  "name": "MatchPro-Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "1e050dcb-9077-4bed-ba5e-0ca54b503dc1",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -928,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        1408
      ],
      "id": "0434db6a-ee3f-4a02-8caa-d654750d4c5e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\n\n// Limpiar los ```json y los saltos de línea, luego hacer parse\nconst cleanJsonStr = raw.replace(/```json|```/g, '').trim();\n\nconst parsed = JSON.parse(cleanJsonStr);\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1360
      ],
      "id": "e2693ca6-2f4b-4cab-9b0d-59b20d18e5ab",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        1376
      ],
      "id": "3418e1d7-8462-4381-9aab-da28e316a68b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        1376
      ],
      "id": "9241dc06-1b7f-4ccb-92ee-0d94465bf07b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/CV - {{ $json.name}} ({{ $json.num }}).pdf",
        "binaryData": true,
        "binaryPropertyName": "file"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        288,
        1472
      ],
      "id": "2e34e05f-9095-449e-943a-4147a78d179e",
      "name": "Upload a file",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "2btN5vCEYtjea7z7",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed AI analysis results from the workflow\n// Adjust the index or data source if needed\nconst analysis = items[0].json;\n\n// Build the response object\nreturn [\n  {\n    json: {\n      score: analysis.score || 0,\n      strengths: analysis.strengths || [],\n      improvements: analysis.improvements || [],\n      keywords: analysis.keywords || [],\n      missingKeywords: analysis.missingKeywords || [],\n      concerns: analysis.concerns || [],\n      recommendation: analysis.recommendation || \"\",\n      url: analysis.url || \"\",\n      cv_id: analysis.num || 0\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1376
      ],
      "id": "90b7dde8-6042-4e7c-bc4c-c65ba5b9b4fb",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropbox.com/oauth2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "[ESCRIBA REFRESH TOKEN AQUI]"
            },
            {
              "name": "client_id",
              "value": "[ESCRIBA CLIENT ID AQUI]"
            },
            {
              "name": "client_secret",
              "value": "[ESCRIBA CLIENT SECRET AQUI]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        1472
      ],
      "id": "81d2dfef-1063-4618-a1e7-fd3ef50b4adb",
      "name": "Dropbox HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"path\": \"/CV - {{ $json.name }} ({{ $json.num }}).pdf\",\n \"settings\": {\n \"access\": \"viewer\",\n \"allow_download\": true,\n \"audience\": \"public\",\n \"requested_visibility\": \"public\"\n }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        1488
      ],
      "id": "5c240531-5fe0-4d3f-ac55-4f1a972f3faf",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const candidateRaw = $input.first().json.body;\n\nlet candidate;\ntry {\n  candidate = JSON.parse(candidateRaw);\n} catch (e) {\n  candidate = candidateRaw; // fallback in case it’s already parsed\n}\n\nreturn [{ json: candidate }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1616
      ],
      "id": "68fff86b-e77a-4aad-8433-3dc5f0905cee",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {
          "keepSource": "binary"
        }
      },
      "id": "de9e2667-a4cf-4324-a695-7b8362d695ec",
      "name": "Extract from File3",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -928,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        1552
      ],
      "id": "11602b5b-ae75-4d35-b3f1-bc7df8e08606",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        1488
      ],
      "id": "886eadf1-6b97-4b28-b6aa-d901e4e64051",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "c6a39d9f-31d9-41d7-9c1d-c3122cf1b35d",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -912,
        2144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -624,
        2304
      ],
      "id": "f8c6b24a-ce1d-40d3-8a4d-f68a53233396",
      "name": "Merge4"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.output;\n\n// Limpiar los ```json y los saltos de línea, luego hacer parse\nconst cleanJsonStr = raw.replace(/```json|```/g, '').trim();\n\nconst parsed = JSON.parse(cleanJsonStr);\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        2256
      ],
      "id": "64b99c2f-9619-47e1-aba9-6783053d9464",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        2272
      ],
      "id": "a67e1418-149a-4657-b403-88e8bd33fa96",
      "name": "Merge5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        2272
      ],
      "id": "f4846781-b5c4-48df-bf95-f88a49cd9899",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed AI analysis results from the workflow\n// Adjust the index or data source if needed\nconst analysis = items[0].json;\n\n// Build the response object\nreturn [\n  {\n    json: {\n      score: analysis.score || 0,\n      strengths: analysis.strengths || [],\n      improvements: analysis.improvements || [],\n      keywords: analysis.keywords || [],\n      missingKeywords: analysis.missingKeywords || [],\n      concerns: analysis.concerns || [],\n      recommendation: analysis.recommendation || \"\",\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        2272
      ],
      "id": "b7477452-bb93-47e9-b9b7-5a2f05d10709",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "const candidateRaw = $input.first().json.body;\n\nlet candidate;\ntry {\n  candidate = JSON.parse(candidateRaw);\n} catch (e) {\n  candidate = candidateRaw; // fallback in case it’s already parsed\n}\n\nreturn [{ json: candidate }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        2512
      ],
      "id": "70b723d0-2810-4ef6-aee8-96c09d62b4c2",
      "name": "Code8"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {
          "keepSource": "binary"
        }
      },
      "id": "6f1dd490-5c01-4553-a725-d4bd13d8c19f",
      "name": "Extract from File4",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -912,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        2448
      ],
      "id": "d433c37a-b2e4-4b0e-80be-4719b29f89fc",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        2432
      ],
      "id": "3b2040d6-96e3-4d31-95bc-ce4e506d6037",
      "name": "Merge7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV: {{ $json.text }} \nRecruitment Source: {{ $json.recruitmentSource }}\nYou are an AI assistant that analyzes CVs and returns structured data for the candidate. Your task is to evaluate the quality of the candidate's CV based on the content and formatting, considering the candidate's professional title, {{ $json.professionalTitle }}.\nUse the following JSON format for your response:\n{\n  \"num\": [Generate the number between 0 and 999999]\n  \"score\": [a number between 0 and 100 indicating the overall quality and suitability for the {{ $json.professionalTitle }} role],\n  \"strengths\": [a list of strengths from the CV, such as relevant experience, certifications, or skills],\n  \"concerns\": [A list of concerns about the candidate's profile, such as gaps in experience or a lack of certain skills],\n  \"recommendation\": \"A sentence of recommendation for the candidate, considering their professionalTitle, score, and their information (skills, experience, and education).\",\n  \"improvements\": [a list of suggested improvements, such as adding missing keywords or reformatting sections],\n  \"keywords\": [important keywords relevant to the professional title found in the CV],\n  \"missingKeywords\": [important keywords expected for the professional title that are missing from the CV]\n}\n\nContext:\n- The input provided is the raw extracted text from a CV.\n- The candidate’s professional title is {{ $json.professionalTitle }}. Use this to determine which keywords should ideally appear.\n- Score breakdown: 40% content relevance, 30% formatting/structure, 30% keyword presence.\n- The candidate's name is from the CV.\n- The candidate's total experience is {{ $json.experience }} years.\n- The candidate's job preferences include a salary range of ${{ $json.jobPreferences.salary.min }} to ${{ $json.jobPreferences.salary.max }}, preferred locations: {{ $json.jobPreferences.location }}, and job type: {{ $json.jobPreferences.jobType }}.\n- Specific work experience, skills, Certification, and Education details can be found in the CV ({{ $json.text }}).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        1664
      ],
      "id": "581264f8-bbbd-48f3-96a6-bd7ad4ca1d03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -400,
        1984
      ],
      "id": "f9e654a0-9c37-4fe4-bca1-0ebb3822cf73",
      "name": "LM Studio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV: {{ $json.text }} \n\nYou are an AI assistant that analyzes CVs and returns structured data for the candidate. Your task is to evaluate the quality of the candidate's CV based on the content and formatting, considering the candidate's professional title, {{ $json.professionalTitle }}.\nUse the following JSON format for your response:\n{\n  \"score\": [a number between 0 and 100 indicating the overall quality and suitability for the {{ $json.professionalTitle }} role],\n  \"strengths\": [a list of strengths from the CV, such as relevant experience, certifications, or skills],\n  \"concerns\": [A list of concerns about the candidate's profile, such as gaps in experience or a lack of certain skills],\n  \"recommendation\": \"A sentence of recommendation for the candidate, considering their professionalTitle, score, and their information (skills, experience, and education).\",\n  \"improvements\": [a list of suggested improvements, such as adding missing keywords or reformatting sections],\n  \"keywords\": [important keywords relevant to the professional title found in the CV],\n  \"missingKeywords\": [important keywords expected for the professional title that are missing from the CV]\n}\n\nContext:\n- The input provided is the raw extracted text from a CV.\n- The candidate’s professional title is {{ $json.professionalTitle }}. Use this to determine which keywords should ideally appear.\n- Score breakdown: 40% content relevance, 30% formatting/structure, 30% keyword presence.\n- The candidate's name is from the CV.\n- Specific work experience, skills, Certification, and Education details can be found in the CV.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        2272
      ],
      "id": "7d78c302-3d45-4229-8ac5-34cb95d7f892",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/CV - {{ $json.name}} ({{ $json.number }}).pdf",
        "binaryData": true,
        "binaryPropertyName": "file"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        480,
        2368
      ],
      "id": "79fcb577-c9ad-4125-9983-dfb6b99f2429",
      "name": "Upload a file1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "95ecb247-e493-43cb-ae25-8e01f989cef7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        1424
      ],
      "id": "62434250-405a-4e6d-88d4-84d45a72cfde",
      "name": "Upload",
      "webhookId": "95ecb247-e493-43cb-ae25-8e01f989cef7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "609a04b9-2451-43d7-b631-c2fe3e3fe80b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        2320
      ],
      "id": "b78c7031-0c20-4441-8e65-15e9148bbd66",
      "name": "Overwrite",
      "webhookId": "609a04b9-2451-43d7-b631-c2fe3e3fe80b"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Dropbox HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          },
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Studio": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overwrite": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d7f27972-982a-4a85-bf13-5afee730e40d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f7ebab91ed6bd3986d3ceb74b98b9b3ce0fc89ca7d29d15ecf7ef5b3eb6538c"
  },
  "id": "qX4BgC7oyjhATgyY",
  "tags": []
}
